</div>
    <div class="ui vertical footer segment" style="margin-top: 15px; ">
      <div class="ui center aligned container">
        <% if(syzoj.config.filing_information) { %>
        <span><a href="http://www.beian.miit.gov.cn/" target="_blank" style="color: #999;"><%= syzoj.config.filing_information %></a></span>
        &nbsp;
        <% } %>
        <span style="color: #999;"><%= syzoj.config.title %> 基本框架来源于 <a href="https://github.com/syzoj/syzoj" target="_blank">SYZOJ</a> </span>
        <span style="color: #999;">炼石云智编程课堂</span>
        <a href="https://beian.miit.gov.cn/" target="_blank">晋ICP备2021017189号-1</a>
      </div>
    </div>
</div>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<script src="<%- lib('semantic-ui/2.4.1/semantic.min.js') %>"></script>
<script src="<%- lib('Chart.js/2.7.3/Chart.bundle.min.js') %>"></script>
<script src="<%- selfLib('script.js') %>?20170710"></script>

<script>
  localStorage.getItem("dark-mode") && setDark();
  function setLight() {
    $("#dark-mode").remove();
    $("#theme-mode")
      .html('<i class="moon icon"></i>暗色主题')
      .attr("onclick", "setDark()");
    localStorage.removeItem("dark-mode");
  };
 
  function setDark() {
    $("<link>").attr({
      rel: "stylesheet",
      type: "text/css",
      href: "<%- selfLib('dark.css') %>",
      id: "dark-mode",
    }).appendTo("head");
    $("#theme-mode")
      .html('<i class="sun icon"></i>明亮主题')
      .attr("onclick", "setLight()");
    localStorage.setItem("dark-mode", "1");
  };
</script>


</body>
</html>
